@import "../../styles/variables.scss";
.overlay {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  //background-color: rgba(242, 139, 21, 0.5);
  z-index: 10;
}

.overlayVisible {
  visibility: visible;
  opacity: 1;
}

.favWrapper {
  width: 49rem;
  min-height: 50rem;
  max-height: 100vh;
  background-color: #e5e5e5;
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: 0px 0px 101px 55px rgba(222, 70, 37, 0.15);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.favWrapperFixed {
  width: 49rem;
  min-height: 50rem;
  max-height: 100vh;
  background-color: #e5e5e5;
  margin-top: 5rem;
  position: fixed;
  right: 0;
  top: 0;
  box-shadow: 0px 0px 101px 55px rgba(222, 70, 37, 0.15);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.favPaddings {
  padding: 0 4rem;
  //now cart items wont move the cart down
  overflow: auto;
  margin-bottom: 5rem;
}

.navBarFav {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2.25rem;
  align-items: center;
}

.favTitleBlock {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.favTitle {
  font-family: "Yeseva One", cursive;
  font-size: 2.25rem;
  font-weight: 400;
  letter-spacing: -1.08px;
}

.favouritesIcon {
}

.favClose {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: -0.6px;
  cursor: pointer;
}

.favouritesItemList {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.favItemBlock {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  max-width: 313px;
}

.favItemImageBlock {
  width: 313px;
  height: 216px;
  overflow: hidden;
}

.favItemImage {
  width: 110%;
  height: calc(213px * 1.1);
  object-fit: cover;
}

.favTitleItem {
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: -0.7px;
  text-transform: uppercase;
}

.buttonsFavBlock {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
}

.addtoCartBtn {
  width: 70%;
  background-color: #cf5c36;
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  color: #f0e8d8;
  cursor: pointer;
}

.removeFavBtn {
  width: 30%;
  border: 1px solid #000;
  background-color: transparent;
  font-family: Montserrat;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: -0.42px;
  text-transform: uppercase;
  cursor: pointer;
}

@media (max-width: $extralarge) {
  .favWrapper {
    width: 42rem;
    min-height: 39rem;
  }

  .favWrapperFixed {
    width: 42rem;
    min-height: 39rem;
    margin-top: 5rem;
    position: fixed;
   }

  .favPaddings {
    padding: 0 3.5rem;
    margin-bottom: 4.5rem;
  }

  .navBarFav {
    margin-top: 1.8rem;
    padding: 0 2rem;
  }

  .favTitleBlock {
    gap: 1rem;
  }

  .favTitle {
    font-size: 2.2rem;
  }

  .favouritesIcon {
  }

  .favClose {
    font-size: 1.2rem;
  }

  .favouritesItemList {
    margin-top: 3rem;
    gap: 1.1rem;
  }

  .favItemBlock {
    gap: 1.25rem;
    max-width: 260px;
  }

  .favItemImageBlock {
    width: 260px;
    height: 160px;
  }

  .favItemImage {
    width: 110%;
    height: calc(160px * 1.1);
  }

  .favTitleItem {
    font-size: 1.2rem;
  }
}

@media (max-width: $medium) {
  .favWrapper {
    width: 33rem;
    min-height: 32rem;
  }

  .favWrapperFixed {
    width: 33rem;
    min-height: 32rem;
    margin-top: 5rem;
    position: fixed;
   }

  .favPaddings {
    padding: 0 2rem;
    margin-bottom: 2rem;
  }

  .navBarFav {
    margin-top: 1.8rem;
    padding: 0 1.5rem;
  }

  .favTitleBlock {
    gap: 1rem;
  }

  .favTitle {
    font-size: 2.1rem;
  }

  .favouritesIcon {
  }

  .favClose {
    font-size: 1.2rem;
  }

  .favouritesItemList {
    margin-top: 2rem;
    gap: 1.1rem;
  }

  .favItemBlock {
    gap: 1.25rem;
    max-width: 220px;
  }

  .favItemImageBlock {
    width: 220px;
    height: 120px;
  }

  .favItemImage {
    width: 110%;
    height: calc(160px * 1.1);
  }

  .favTitleItem {
    font-size: 1.2rem;
  }
}

@media (max-width: $small) {
  .favWrapper {
    width: 100vw;
    min-height: 100vh;
  }

  .favPaddings {
    padding: 0 2rem;
    margin-bottom: 2rem;
  }

  .navBarFav {
    margin-top: 1.8rem;
    padding: 0 1.5rem;
  }

  .favTitleBlock {
    gap: 1rem;
  }

  .favTitle {
    font-size: 2.1rem;
  }

  .favouritesIcon {
  }

  .favClose {
    font-size: 1.2rem;
  }

  .favouritesItemList {
    margin-top: 2rem;
    gap: 1.1rem;
  }

  .favItemBlock {
    gap: 1.25rem;
    max-width: 48%;
  }

  .favItemImageBlock {
    width: 100%;
    height: 170px;
  }

  .favItemImage {
    width: 110%;
    height: calc(170px * 1.1);
  }

  .favTitleItem {
    font-size: 1.2rem;
  }
}

@media (max-width: 510px) {
  .favWrapper {
    width: 100vw;
    min-height: 100vh;
  }

  .favPaddings {
    padding: 0 2rem;
    margin-bottom: 2rem;
  }

  .navBarFav {
    margin-top: 1.8rem;
    padding: 0 1rem;
  }

  .favTitleBlock {
    gap: 1rem;
  }

  .favTitle {
    font-size: 1.5rem;
  }

  .favouritesIcon {
    display: none;
  }

  .favClose {
    font-size: 1.2rem;
  }

  .favouritesItemList {
    margin-top: 2rem;
    gap: 1.1rem;
  }

  .favItemBlock {
    gap: 1.25rem;
    max-width: 100%;
  }

  .favItemImageBlock {
    width: 100%;
    height: 170px;
  }

  .favItemImage {
    width: 110%;
    height: calc(170px * 1.1);
  }

  .favTitleItem {
    font-size: 1.2rem;
  }
}